@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body{
    margin:0px;
    padding: 0px;
    background-color:rgb(150, 142, 142);
    font-family:'Inter', 'Sora';
}

*{
    box-sizing: border-box;
    text-decoration: none;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
input{
    outline: none;
    border: none;
}
.logo img{
    width: 120px;
}
#main{
    width:100%;
    height:550px;
    position: relative;
}
.bannerimg{
    margin-left: 700px;
    margin-top: 150px;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
    background-color:#37D0E9;
    transition: 0.6s ease-in-out;
}
nav.active{
	box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
}
nav ul{
	display: flex;
}
nav ul li a{
    font-family: 'inter';
	margin: 3px;
    text-decoration: none;
	padding: 0px 22px;
	display: flex;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 200;
	color:white;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    background-color : #37D0E9
}
nav ul li a:hover{
	background-color:#60D8CC;
    color:#ffffff;
	box-shadow: 5px 10px 30px #60D8CC;
	transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon{
		display:none;
	}
.header-heading{
	font-family: 'Inter';
	width: 900px;
	position: absolute;
    left: 25%;
    top: 40%;
    text-align: left;
	transform: translate(-25%,-55%);
}
.header-reason{
	width: -80%;
	position: absolute;
    color:black;
    font-size: 18px;
    margin-left: 850px;
    margin-top: 50px;
    top: 45%;
    text-align: left;
	transform: translate(-25%,-55%);
}

.reason{
    padding-top: 30px;
}


.header-heading span{
    font-family: 'Alfa Slab One';
    color:#5EBFCF;
    border-bottom: 2px solid #072950;
}
.header-heading .details{
    margin-top: 15px;
    font-size: 18px;
    color:black;
}
.header-heading h3{
	font-family:'Inter';
	font-size: 1.6rem;
	margin:0px;
	letter-spacing: 2px;
	color:black;
}
.header-heading h1{
	font-family:'Alfa Slab One';
	font-size: 4rem;
	margin:0px;
	letter-spacing: 2px;
	color:#5EBFCF;
}
.header-btns{
    display: flex;
    margin-top: 25px;
}
.btn-nav {
    color: white;
    border: none;
    background-color:#FFCD4F;
    font-family: inter;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    
    width: 120px;
  }
.header-btn{
	width:160px;
	height: 50px;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-family:'Inter';
    background-color: #FFCD4F;
    box-shadow: 5px 10px 30px rgba(46, 36, 36, 0.336);
    border-radius: 5px;
	color:#ffffff;
    text-decoration: none;

}
.header-btn:hover{
	background-color: transparent;
    transition: all ease 0.5s;
    color: black;
    border: 2px solid #FFCD4F;
}

#products{
    width:100%;
    height:120vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px ;
    background-color: #ffffff;
}
#products h1{
    color:black;
}
#products p{
    color: black;
    font-size: 0.8rem;
    margin-top:-15px ;
    margin-bottom:35px ;
}
.testf{
    padding-top: 20px;
}
#testi{
    width:100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.a-container{
    display: flex;
    padding-top: -10px;
    margin-left:50px;
    display: flex;
    justify-content: center;
    align-content: center; 
}
.a-containeri{
    display: flex;
    justify-content: center;
    align-content: center; 
    padding-top: -10px;
}
#about{
    margin-top:-50px ;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
    position: relative;
    
}

.about-text{
    width: 45%;
    color: #fff;
    text-align: left;
    
}
/* .about-text h1{
	font-size: 3.5rem;
	color:black;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
} */
.about-text p{
    font-family:'Inter';
    /* letter-spacing: 1px; */
    color: black;
    font-size: 20px;
    margin-left: 40px;
	
}
.about-text button{
    margin-top: 20px;
    margin-left: 40px;
	width:220px;
	height: 40px;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family:'Inter';
    background-color: #FFCD4F;
    box-shadow: 2px black;
    border-radius: 5px;
	color:#ffffff;
}
.about-text button:hover{
    background-color: transparent;
    transition: all ease 0.5s;
    color: black;
    border: 2px solid black;
}
.about-image{
    width: 50%;
}
.about-image img{
  width: 600px;
}
title{
    margin-bottom: 30px;
}
.a-box{
    box-shadow: 3px 1px 12px;
    width:330px;
    height: 400px;
    margin: 30px;
    padding-top: 120px;
    padding-right:30px;
    padding-left: 30px;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
    color:#072950;
    display: flex;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.tutu{
     padding-top: 34px;
    height: 150px;
}
.a-boxly{
    box-shadow: 3px 1px 12px;
    width:330px;
    height: 100%;
    margin: 30px;
    padding-top: 2px;
    padding-right:30px;
    padding-left: 30px;
    padding-bottom: 29px;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
    color:#072950;
    display: flex;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.a-boxp{
    box-shadow: 3px 1px 12px;
    width:250px;
    height: 500px;
    margin: 30px;
    padding-top: 2px;
    padding-right:30px;
    padding-left: 30px;
    padding-bottom: 29px;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
    color:#072950;
    display: flex;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}
.center{
    padding-top: 30px;
    text-align: left;
}
.poto img{
    width:200px;
    height:200px;
    border-radius: 100px;
}
.listpaket{
    margin-top: 40px;
}
.a-boxi{
    margin-top: 50px;
    width:250px;
    height: 400px;
    margin: 20px;
    padding-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
    margin-bottom: 30px;
    color:black;
}
.a-b-img{
    margin-bottom: 20px;
    width: 150px;
    margin-left: 50px;
    height: 150px;
}
.a-b-img img{
    padding: 15px;
    margin-top: 40px;
    width:100%;
    height: 100%;

}
.a-box:hover{
    box-shadow: 2px 2px 12px;
}
.a-b-text{
    width: 100%;
    height: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
    flex-direction: column;
}
.a-b-text h2{
    color: black;
}

.productbox-button{
    width:200px;
	height: 130px;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: #FFCD4F;
    border-radius: 5px;
	color:#ffffff;
}
.productbox-button:hover{
	background-color: transparent;
    transition: all ease 0.5s;
    color: black;
    box-shadow: 1px 8px 30px #c28d07;

}

#contact{
    margin-top: 120px;
    width:100%;
    background-image: url(./images/R6.png);  
    background-repeat: round;
    background-position: top;  
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #37D0E9;
}
#contact h1{
        color:white;
        font-family: 'Inter';
        margin-top:30px;
        margin-bottom: 20px;
}
.send{
    font-family: 'Inter';
}
#contact form{
    width:600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#contact form input,
#contact form textarea{
    width:100%;
    height:50px;
    margin:5px 0px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
}
#contact form textarea{
    height: 150px;
}
#contact form input[type="submit"]{
    height: 45px;
    background:#FFCD4F;
    color: #ffffff;
    text-transform: uppercase;
}
.imgr{
    margin-right: 400px;
    margin-top:60px;
    width: -100px;
}



@media(max-width:1190px){
    #main{
		height: 650px;
	}
	.header-heading{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
    }
    .pr-heading{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.about-image{
        display:none;
    }
    
    .nav-btn{
        margin-left: 20%;
        margin-top: 10px;
    }
    .pr-btn{
        margin-left: 20%;
        margin-top: 20px;
    }
    
	#about{
		justify-content: center;
        padding-top: 0px;
        text-align: center;
        margin-top: 0px;
	}
	.about-text{
        width: 90%;
        text-align: center;
	}
    .about-text p{
        width: 100%;
    }
    .about-text button {
        margin-left: 30%;
    }
    #products{
        margin-bottom: 100px;
    }
    .menu-icon{
        display:block;}
            nav{
               
                justify-content: space-between;
                height: 80px;
                padding: 0px 20px;
            }
            .logo img{
                width:120px;
            }
            .header-btns{
                margin: 0;
            }
            .nav-btns{
                margin: 0;
            }
            .pr-btns{
                margin: 0;
            }
            .menu{
                display:none;
                position:absolute;
                top:65px;
                left:0px;
                color: white;
                border-bottom:4px solid black;
                width:100%;
                padding:0px;
                margin:0px;
            }
            .menu li{
                width:100%;
            }
            nav .menu li a{
                width:100%;
                height:40px;
                justify-content: center;
                align-items: center;
                margin:0px;
                padding: 25px;
                border:1px solid rgba(38,38,38,0.03);
            }
            nav .menu-icon{
                cursor:pointer;
                float:right;
                padding:28px 20px;
                position:relative;
                user-select: none;
            }
            nav .menu-icon .nav-icon{
                background-color:black;
                display:block;
                height:2px;
                position:relative;
                transition: background 0.2s ease-out;
                width:24px;
            }
            nav .menu-icon .nav-icon:before,
            nav .menu-icon .nav-icon:after{
                background:rgb(255, 255, 255);
                content:'';
                display:block;
                height:100%;
                position:absolute;
                transition:all ease-out 0.2s;
                width:100%;
            }
            nav .menu-icon .nav-icon:before{
                top:6px;
                background-color: black;
            }
            nav .menu-icon .nav-icon:after{
                top:-6px;
                background-color: black;
            }
            nav .menu-btn:checked ~ .menu-icon .nav-icon{
                background:transparent;
            }
            nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
                transform: rotate(-45deg);
                top:0;
                background-color: black;
            }
            nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
                transform: rotate(45deg);
                top:0;
                background-color: black;
            }
            nav .menu-btn{
                display:none;
            }
            nav .menu-btn:checked ~ .menu{
                display:block;
            }
    #contact form{
        width:90%;
    }
	#main{
		background-size: 1150px !important;
		
	}
    
	.header-heading{
		left: 50%;
		top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .header-heading h2{
        font-size: 1.5rem;
    }
    .header-heading h1{
        font-size: 3rem;
    }
    .header-heading .details{
        font-size: 1rem;
    }
    .pr-heading{
		left: 50%;
		top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .pr-heading h2{
        font-size: 1.5rem;
    }
    .pr-heading h1{
        font-size: 3rem;
    }
    .pr-heading .details{
        font-size: 1rem;
    }
	.about-image img{
		height:400px;
    }
    #products{
		height:auto;
    }
    .a-container{
		flex-wrap: wrap;
	}
    .a-containeri{
		flex-wrap: wrap;
	}
    .a-box{
		flex-grow: 1;
	}
    
    

}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    font-family: 'Inter', 'Sora';
    
}

.footer-area {
  margin-top: 40px;
  padding: 20px 0;
  background:#37D0E9;
  color:#fff;
  position:relative;
}
.main {
  width: 1200px;
  margin: 0 auto;
}
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.single-footer {
  width: 230px;
}
.single-footer:first-child {
  width: 400px;
}
.single-footer h4 {
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 20px;
}

.single-footer ul {
  list-style: none;
}
.single-footer ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}
.single-footer ul li a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
}
.single-footer ul li a i {
  position: absolute;
  left: 0;
  top: 5px;
}
.copy {
  text-align: center;
  text-transform: capitalize;
  margin-top: 60px;
}


@media only screen and (max-width:600px){
  .main{
    width:320px;
  }
  .about-text{
      margin-right: 90px;
  }
  .header-heading{
    width:60%;
}
.pr-heading{
    width:60%;
}
  .header-btn{
      margin-top: 40px;
      margin-left: 60px;
  }
  .footer-wave-box {
    display: none;
  }
  .a-container{
      width: 100%;
  }
  .single-footer:first-child, .single-footer {
    width: 100%;
    margin-bottom:30px;
  }
}